{% set term_list = function('wp_get_post_terms', article.ID, 'writer', {'field': 'all'}) %}
<article id="post-{{ article.ID }}" {{ function('post_class', '', article.ID) }}>
    <a href="{{ function('the_permalink', article) }}">
        <div class="card rounded-0 border-0">
            <div class="img-hover-zoom img-thumb">
                {{ function('get_the_post_thumbnail', article) }}
            </div>
            <div class="card-body text-center">
                <div class="h3 mb-2">
                    <h5>{{ function('short_title', article) }}</h5>
                </div>
                <!-- <p class="text-secondary mb-2">Audemars Piguet launches a stunning new Royal Oak Concept Flying Tourbillon with famed couturier Tamara Ralph</p> -->
                <span class="date-post">{{ function('get_the_date', 'j F, Y', article) }}</span>
                -
                <span>{{ term_list[0].name }}</span>
            </div>
        </div>
    </a>
</article>