<footer class="container-fluid">
	<div class="row">
		<div class="pt-4 pb-3 bg-black ">
			<h6 class="text-center text-white">Robb Report Singapore / Media Publishares</h6>
			<ul class="nav justify-content-center">
				<li class="nav-item">
					<a target="_blank" href="{{ function('the_field', 'instagram_url', 'option') }}" class="nav-link px-2 text-white">Instagram</a>
				</li>
				<li class="nav-item">
					<a target="_blank" href="{{ function('the_field', 'facebook_url', 'option') }}" class="nav-link px-2 text-white">Facebook</a>
				</li>
				<li class="nav-item">
					<a target="_blank" href="{{ function('the_field', 'linkedin_url', 'option') }}" class="nav-link px-2 text-white">Linkedin</a>
				</li>
			</ul>
			{{ function("get_field", "footer_published") }}
		</div>
	</div>
	<div class="row">
		<ul class="nav justify-content-center">
            {% for menu in function('get_footer_menu') %}
				<li class="nav-item">
					<a href="{{ menu.url }}" class="nav-link text-black px-2">{{ menu.title }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</footer>
