{% set currentUrl = function('get_current_url') %}

<div id='div-gpt-ad-1698301711475-0' class="ad leaderboard leaderboard-header">
  <script>
    googletag.cmd.push(function() {
		googletag.display('div-gpt-ad-1698301711475-0');
	});
  </script>
</div>
<!-- Pop up Menu -->
<div class="offcanvas offcanvas-start w-100 PopupMenu" tabindex="-1" id="PopupMenu" aria-labelledby="PopupMenuLabel">
	<div class="offcanvas-header w-100">
		<a class="navbar-brand" href="/">
			<img src="{{ function('get_stylesheet_directory_uri') }}/assets/img/RR-SINGAPORE_Logo2019_Outlined.png" alt="logo" height="30">
		</a>
		<button type="button" class="btn bg-transparent fs-2" data-bs-dismiss="offcanvas" aria-label="Close">X</button>
	</div>
	<div class="offcanvas-body">
		<nav class="nav side-nav flex-column position-relative top-0">
			<a class="nav-link fs-1" href="/about">About</a>
			<a class="nav-link fs-1" href="/contact">Contact</a>
			<a class="nav-link fs-1" href="/distribution">Advertise</a>
			<a class="nav-link fs-1" href="/media">Media Kit</a>
			<a class="nav-link fs-1" href="/partnership-subscriptions">Partnerships</a>
			<a class="nav-link fs-1" href="/lifestyle">Lifestyle</a>
			<a class="nav-link fs-1" href="/watches-jewellery">Watches & Jewellery</a>
			<a class="nav-link fs-1" href="/gear">Gear</a>
			<a class="nav-link fs-1" href="/style">Style</a>
			<a class="nav-link fs-1" href="/art-design">Art & Design</a>
			<a class="nav-link fs-1" href="/investments">Investment</a>
			<a class="nav-link fs-1" href="/robb-spotlight">Robb Spotlight</a>
		</nav>
	</div>
</div>
<!-- End Pop up Menu -->
<header class="top-nav bg-white">
	<nav class="navbar navbar-expand-lg navbar-light bg-white pt-4">
		<div class="container">
			<button class="navbar-toggler border-0 text-danger" type="button" data-bs-toggle="offcanvas" href="#PopupMenu" role="button" aria-controls="PopupMenuLabel">
				<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-text-left" viewbox="0 0 16 16">
					<path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/>
				</svg>
			</button>
			<a class="navbar-brand navbar-toggler border-0 m-0" href="/">
				<img src="{{ function('get_stylesheet_directory_uri') }}/assets/img/RR-SINGAPORE_Logo2019_Outlined.png" alt="logo" height="35">
			</a>
			<div class="navbar-toggler search-container p-0">
				<form method="GET" action="/">
					<div class="search-container" style="float:right">
						<div class="search-icon-btn">
							<button type="submit" class="bg-transparent border-0 text-danger">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search" viewbox="0 0 16 16">
									<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
								</svg>
							</button>
						</div>
						<div class="search-input">
							<input name="s" type="search" class="search-bar" placeholder="Search..." value="{{ function('get_search_query') }}" required/>
						</div>
					</div>
				</form>
			</div>
			<div class="collapse navbar-collapse">
				<a class="navbar-brand" href="/">
					<img src="{{ function('get_stylesheet_directory_uri') }}/assets/img/RR-SINGAPORE_Logo2019_Outlined.png" alt="logo" height="40">
				</a>
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a target="_blank" class="nav-link" href="https://botb.robbreport.com.sg">Best of the Best</a>
					</li>
					<li class="nav-item">
						<a target="_blank" class="nav-link" href="/thought-leaders">Thought Leaders</a>
					</li>
					<li class="nav-item">
						<a target="_blank" class="nav-link" href="https://the-movement.robbreport.com.sg">The Movement</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/masters-of-time">Masters of Time</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Horizontal Scrolling Nav-->
	<div class="container nav-scroller py-1 mb-2">
		<nav class="nav justify-content-between align-items-center">
			<div>
				<a class="p-2 link-secondary text-uppercase fs-5 mx-2" href="/lifestyle">Lifestyle</a>
				<a class="p-2 link-secondary text-uppercase fs-5 mx-2" href="/watches-jewellery">Watches & Jewellery</a>
				<a class="p-2 link-secondary text-uppercase fs-5 mx-2" href="/gear">Gear</a>
				<a class="p-2 link-secondary text-uppercase fs-5 mx-2" href="/style">Style</a>
				<a class="p-2 link-secondary text-uppercase fs-5 mx-2" href="/art-design">Art & Design</a>
				<a class="p-2 link-secondary text-uppercase fs-5 mx-2" href="/investments">Investment</a>
				<a class="p-2 link-secondary text-uppercase fs-5 mx-2" href="/robb-spotlight">Robb Spotlight</a>
			</div>
			<form method="GET" action="/">
				<div class="search-container" style="float:right">
					<div class="search-icon-btn">
						<button type="submit" class="bg-transparent border-0 text-danger">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search" viewbox="0 0 16 16">
								<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
							</svg>
						</button>
					</div>
					<div class="search-input">
						<input name="s" type="search" class="search-bar" placeholder="Search..." value="{{ function('get_search_query') }}" required/>
					</div>
				</div>
			</form>
		</nav>
	</div>
	<!-- Horizontal Scrolling Nav-->
</header>
