{% extends "layout/main.twig" %}

{% block css_script %}
	<style>
		.btn.is-underline:hover {
			text-decoration: underline;
		}

		.loader {
			width: 120px;
			height: 20px;
			-webkit-mask: linear-gradient(90deg,#000 70%,#0000 0) 0/20%;
			background: linear-gradient(#000 0 0) 0/0% no-repeat #ddd;
			animation: l4 2s infinite steps(6);
		}

		@keyframes l4 {
			100% {
				background-size: 120%
			}
		}
	</style>
{% endblock %}

{% block content %}
	{% set articles = function('get_category_article') %}
	{% set currentUrl = function('get_current_url') %}
	<main>
		<div id="div-gpt-ad-1698302925146-0" class="ad leaderboard leaderboard-top">
			<script>
				googletag.cmd.push(function() {
					googletag.display('div-gpt-ad-1698302925146-0');
				});
			</script>
		</div>
		<section id="section-newsfeed">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<nav class="nav side-nav flex-column my-4 d-none d-md-block">
							<a class="nav-link {{ currentUrl == 'lifestyle' ? 'active' : null }}" href="/lifestyle">Lifestyle</a>
							<a class="nav-link {{ currentUrl == 'watches-jewellery' ? 'active' : null }}" aria-current="page" href="/watches-jewellery">Watches & Jewellery</a>
							<a class="nav-link {{ currentUrl == 'gear' ? 'active' : null }}" href="/gear">Gear</a>
							<a class="nav-link {{ currentUrl == 'style' ? 'active' : null }}" href="/style">Style</a>
							<a class="nav-link {{ currentUrl == 'art-design' ? 'active' : null }}" href="/art-design">Art & Design</a>
							<a class="nav-link {{ currentUrl == 'investment' ? 'active' : null }}" href="/investment">Investment</a>
							<a class="nav-link {{ currentUrl == 'robb-spotlight' ? 'active' : null }}" href="/robb-spotlight">Robb Spotlight</a>
						</nav>
					</div>
					<div class="col-md-8">
						<div class="my-4">
							{% for article in articles.posts %}
								{% if (loop.index == 1) %}
									<div class="card rounded-0 border-0">
										<div class="img-hover-zoom">
											{{ function('get_the_post_thumbnail', article) }}
										</div>
										<div class="card-body text-center">
											<a href="{{ function('the_permalink', article) }}" class="h3 mb-2"><h5>{{ function('short_title', article) }}</h5></a>
											<!-- <p class="text-secondary mb-2">Audemars Piguet launches a stunning new Royal Oak Concept Flying Tourbillon with famed couturier Tamara Ralph</p> -->
											<span>{{ function('wp_date', 'j F, Y', function('strtotime', article.post_date)) }}</span>
											-
											<span>Alvin Wong</span>
										</div>
									</div>
								{% endif %}
							{% endfor %}
							<div class="row post-listing">
								{% for article in articles.posts %}
									{% if (loop.index > 1) %}
										<div class="col-6">
											<div class="card rounded-0 border-0">
												<div class="img-hover-zoom">
													{{ function('get_the_post_thumbnail', article) }}
												</div>
												<div class="card-body text-center">
													<div>
														{{ function('primary_category', article) }}
													</div>
													<a href="{{ function('the_permalink', article) }}" class="h3 mb-2"><h5>{{ function('short_title', article) }}</h5></a>
													<div>
														<span>{{ function('wp_date', 'j F, Y', function('strtotime', article.post_date)) }}</span>
														-
														<span>Carol Besler</span>
													</div>
												</div>
											</div>
										</div>
									{% endif %}
								{% endfor %}
							</div>
						</div>
						<div class="text-center">
							<div class="btn is-underline load-more">
								<span>View more stories</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div id="div-gpt-ad-1698303160858-0" class="ad leaderboard leaderboard-mid">
			<script>
				googletag.cmd.push(function() {
					googletag.display('div-gpt-ad-1698303160858-0');
				});
			</script>
		</div>
		<section id="section-MostPopular">
			<div class="container">
				<div class="mt-5">
					<h2 class="text-center mb-4">Most Popular</h2>
					{% set articles = function('get_most_popular_article') %}
					<div class="owl-carousel latest-carousel owl-theme">
						{% for article in articles.posts %}
							<div class="item">
								<div class="card rounded-0 border-0">
									<div class="img-hover-zoom">
										{{ function('get_the_post_thumbnail', article) }}
									</div>
									<div class="card-body text-center">
										<div>
											{{ function('primary_category', article) }}
										</div>
										<a href="{{ function('the_permalink', article) }}" class="h3 mb-2"><h5>{{ function('short_title', article) }}</h5></a>
										<div>
											<span>{{ function('wp_date', 'j F, Y', function('strtotime', article.post_date)) }}</span>
											-
											<span>Carol Besler</span>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}

{% block js_script %}
	<script>
		(function () {
			$('.latest-carousel').owlCarousel({
				loop:true,
				autoplay: true,
				lazyLoad: true,
				margin:16,
				nav:false,
				dots: false,
				center: true,
				items:2,
			});
		})();
	</script
{% endblock %}