{% extends "layout/main.twig" %}

{% block css_script %}
	<style>
		.btn.is-underline:hover {
			text-decoration: underline;
		}

		.loader {
			width: 120px;
			height: 20px;
			-webkit-mask: linear-gradient(90deg,#000 70%,#0000 0) 0/20%;
			background: linear-gradient(#000 0 0) 0/0% no-repeat #ddd;
			animation: l4 2s infinite steps(6);
		}

		@keyframes l4 {
			100% {
				background-size: 120%
			}
		}
	</style>
{% endblock %}

{% block content %}
	{% set articles = function('get_category_article') %}
	{% set currentUrl = function('get_current_url') %}
	{% set term = function('get_queried_object') %}
	<main>
		<section id="section-newsfeed">
			<nav class="container my-4" aria-label="breadcrumb">
				<div class="d-flex align-items-center">
					<ol class="breadcrumb mb-0">
						<li class="breadcrumb-item h5">
							<a href="/">Home</a>
						</li>
						<li class="breadcrumb-item h5">
							<a href="{{ term.name }}">{{ term.name }}</a>
						</li>
					</ol>
					<hr class="flex-grow-1 border-top border-dark ms-4">
				</div>
			</nav>
			<div class="container">
				<div class="row">
					<!-- <div class="col-md-4">
						<nav class="nav side-nav flex-column my-4 d-none d-md-block">
							<a class="nav-link {{ currentUrl == 'lifestyle' ? 'active' : null }}" href="/lifestyle">Lifestyle</a>
							<a class="nav-link {{ currentUrl == 'watches-jewellery' ? 'active' : null }}" aria-current="page" href="/watches-jewellery">Watches & Jewellery</a>
							<a class="nav-link {{ currentUrl == 'gear' ? 'active' : null }}" href="/gear">Gear</a>
							<a class="nav-link {{ currentUrl == 'style' ? 'active' : null }}" href="/style">Style</a>
							<a class="nav-link {{ currentUrl == 'art-design' ? 'active' : null }}" href="/art-design">Art & Design</a>
							<a class="nav-link {{ currentUrl == 'investment' ? 'active' : null }}" href="/investment">Investment</a>
							<a class="nav-link {{ currentUrl == 'robb-spotlight' ? 'active' : null }}" href="/robb-spotlight">Robb Spotlight</a>
						</nav>
					</div> -->
					<div class="col-md-8">
						<div class="my-4">
							{% for article in articles.posts %}
								{% set term_list = function('wp_get_post_terms', article.ID, 'writer', {'field': 'all'}) %}
								{% if (loop.index == 1) %}
									{{ include('page/component/card.twig', {'article': article}) }}
								{% endif %}
							{% endfor %}
							<div id="div-gpt-ad-1698302925146-0" class="ad leaderboard leaderboard-top">
								<script>
									googletag.cmd.push(function() {
										googletag.display('div-gpt-ad-1698302925146-0');
									});
								</script>
							</div>
							<div class="row post-listing">
								{% for article in articles.posts %}
									{% set term_list = function('wp_get_post_terms', article.ID, 'writer', {'field': 'all'}) %}
									{% if (loop.index > 1) %}
										<div class="col-md-6">
											{{ include('page/component/card.twig', {'article': article}) }}
										</div>
									{% endif %}
								{% endfor %}
							</div>
						</div>
						<div class="text-center">
							<div class="btn is-underline load-more">
								<span>View more stories</span>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div id='div-gpt-ad-3035191-5' class="ad leaderboard leaderboard-vertical d-none d-sm-block">
							<script>
								googletag.cmd.push(function() {
									googletag.display('div-gpt-ad-3035191-5');
								});
							</script>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div id="div-gpt-ad-1698303160858-0" class="ad leaderboard leaderboard-mid">
			<script>
				googletag.cmd.push(function() {
					googletag.display('div-gpt-ad-1698303160858-0');
				});
			</script>
		</div>
		<section id="section-MostPopular">
			<div class="container">
				<div class="mt-5">
					<h2 class="text-center mb-4">Most Popular</h2>
					{% set articles = function('get_most_popular_article') %}
					<div class="owl-carousel latest-carousel owl-theme">
						{% for article in articles.posts %}
							{% set term_list = function('wp_get_post_terms', article.ID, 'writer', {'field': 'all'}) %}
							<div class="item">
								{{ include('page/component/card.twig', {'article': article}) }}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}

{% block js_script %}
	<script>
		(function () {
			$('.latest-carousel').owlCarousel({
				loop:true,
				autoplay: true,
				lazyLoad: true,
				margin:16,
				nav:false,
				dots: false,
				center: true,
				items:2,
			});
		})();
	</script
{% endblock %}