{% extends "layout/main.twig" %}

{% block content %}
	<main>
		<section id="section-hero">
			<div class="container">
				<div class="pb-5">
					<div class="owl-carousel hero-carousel owl-theme">
						{% for slider in banner.posts %}
							<div class="item">
								<div class="card rounded-0 border-0 mb-4">
									<div class="img-hover-zoom img-fluid">
										{{ function('get_the_post_thumbnail', slider) }}
									</div>
									<div class="card-body bg-white shadow-sm text-center mx-md-5 mx-4 p-4">
										<a href="#" class="text-secondary">{{ function('primary_category', slider) }}</a>
										<br>
										<a href="{{ function('the_permalink', slider) }}" target="_self">
											<h5>{{ function('short_title', slider) }}</h5>
										</a>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			<div>
		</section>
		<div id="div-gpt-ad-1698302925146-0" class="ad leaderboard leaderboard-top">
			<script>
				googletag.cmd.push(function() {
					googletag.display('div-gpt-ad-1698302925146-0');
				});
			</script>
		</div>
		<section id="section-latest">
			<div class="container">
				{% set latest_article = function('get_latest_article') %}
				<h2 class="text-center mb-4">LATEST</h2>
				<div class="owl-carousel latest-carousel owl-theme">
					{% for article in latest_article.posts %}
						<div class="item">
							{{ include('page/component/card.twig', {'article': article}) }}
						</div>
					{% endfor %}
				</div>
			</div>
		</section>
		<section id="section-newsfeed">
			<div class="container">
				{% set category_list = function("get_field", "article_category") %}
				{% for category in category_list %}
					<div class="mb-2">
						{% set articles = function('get_article', category.slug, 3) %}
						<div class="d-flex align-items-center my-3">
							<h2 class="me-4 text-uppercase">{{ category.name }}</h2>
							<a href="{{ function('get_category_link', category.cat_ID) }}" class="btn btn-secondary rounded-0">READ MORE HERE</a>
						</div>
						<div class="mb-2">
							{% for article in articles.posts %}
								{% set term_list = function('wp_get_post_terms', article.ID, 'writer', {'field': 'all'}) %}
								{% if (loop.index == 1) %}
									{{ include('page/component/card.twig', {'article': article}) }}
								{% endif %}
							{% endfor %}
							<div class="row">
								<div class="col-md-7">
									<div class="row">
										{% for article in articles.posts %}
											{% set term_list = function('wp_get_post_terms', article.ID, 'writer', {'field': 'all'}) %}
											{% if (loop.index > 1) %}
												<div class="col-md-6 col-md-12">
													{{ include('page/component/card.twig', {'article': article}) }}
												</div>
											{% endif %}
										{% endfor %}
									</div>
								</div>
								{% if loop.index == 1 %}
									<div class="col-md-5">
										<div id='div-gpt-ad-3035191-5' class="ad leaderboard leaderboard-vertical">
											<script>
												googletag.cmd.push(function() {
													googletag.display('div-gpt-ad-3035191-5');
												});
											</script>
										</div>
									</div>
								{% endif %}
							</div>
						</div>
					</div>
					{% if loop.index == 2 %}
						<div id="div-gpt-ad-1698303160858-0" class="ad leaderboard leaderboard-mid">
							<script>
								googletag.cmd.push(function() {
									googletag.display('div-gpt-ad-1698303160858-0');
								});
							</script>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</section>
		<section id="section-subscribe" class="mt-4">
			<div class="container-fluid p-0">
				<div class="container">
					{% set footerContent = function('get_field', 'footer_content') %}
					<div class="row">
						{% for content in footerContent %}
							<div class="col-md-6">
								{{ function('do_shortcode', content.footer_content) }}
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="bg-secondary bg-opacity-25 p-md-5 py-5 px-md-5">
					<div class="container">
						{{ include('page/component/subscribe.twig') }}
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}

{% block js_script %}
	<script type="text/javascript">
		$('.hero-carousel').owlCarousel({
			loop:true,
			autoplay:true,
			margin:10,
			nav:false,
			items:1,
			dots: false,
		})

		$('.latest-carousel').owlCarousel({
			loop:true,
			autoplay: true,
			lazyLoad: true,
			margin:16,
			nav:false,
			dots: false,
			center: true,
			items:2,
		});

		$('.js-cm-form').submit(function (e) {
			const subscribeType = $('#subscribe-type option:checked').val();
			const url = $('#subscribe-type option:checked').data('url');

			if (url) {
				window.open(url);
			}
		});

		$('#subscribe-type').change(function() {
			const url = $('#subscribe-type option:checked').data('url');

			if (url) {
				window.open(url);
			}
		});
	</script>
{% endblock %}